@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600&display=swap');

:root {
    --background-col: #CBB298;
    --text-col: #565E46;
    --text-col-light: #6E2205;
}

* {
    margin: 0px;
    padding: 0px;
    color: var(--text-col);
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}
address > div > img, footer > img{
    height: 15px;
    width: 15px;
    filter: invert(37%) sepia(3%) saturate(3254%) hue-rotate(38deg) brightness(91%) contrast(90%);
}

.navigation img {
    height: 50px;
}

address, footer {
    padding: 12px;
    font-size: 0.9rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: var(--background-col);
}

address > div {
    display: flex;
    gap: 5px;
    align-items: center;
}

div.navigation, .about-text span, .menu-text span {
    font-size: 25px;
    color: var(--text-col);
    font-weight: 600;
}

.navigation {
    font-size: 25px;
    padding: 8px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navigation span {
    padding: 15px;
}

.navigation span:hover {
    color: var(--background-col);
}

.slider {
    background: url(./assets/hero-image.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#content {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

body {
    height: 100vh;
}

footer {
    display: flex;
    align-items: center;
}

footer > img {
    height: 20px;
    width: 20px;
}

.slider p, .slider span{
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    color: white;
}

.slider p {
    font-size: 8rem;
}

.about, .menu {
    padding: 50px calc(100px + 10vw);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}

.about .socials, .menu .socials {
    margin-top: 35px;
    display: flex;
    gap: 10px;
}

.about .socials img, .menu .socials img {
    height: 30px;
}

.about-text, .menu-text {
    background-color: var(--background-col);
    border-radius: 15px;
    padding: 30px;
}

.about-text span {
    padding-bottom: 20px;
}

.about-text p {
    margin-top: 20px;
    margin-bottom: 20px;
}
hr {
    margin-top: 10px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.menu-text div {
    padding: 20px 100px;
}

.menu-text > div > span {
    font-size: 20px;
}

.menu-text {
    border: 2px solid;
    outline: 16px solid var(--background-col);
}